<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('./partials/nav') %>



        <div class="container" style="padding-top: 120px;">
            <form action="/create-discussion" method="post">

                <div class="form-outline mb-4">
                    <input type="text" id="heading" name="heading" required="true" class="form-control" />
                    <label class="form-label" for="heading">Heading</label>
                </div>

                <div class="form-outline mb-4">
                    <textarea name="description" class="form-control" id="description" name="description">

                        </textarea>
                    <label class="form-label" for="description">Description</label>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">
                    Post
                </button>
            </form>

        </div>

        </div>
        <footer>
            <span>&copy; Selmi Abderrahim | All Rights Reserved</span>
        </footer>
        <script src="/js/main.js"></script>
</body>

</html>